<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Member</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <img class="navbar-brand" src="cftlogo.png" width="7.5%">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Virginia Rugby
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">HooHacks</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign Out</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <img src="https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/278117660_469574164965152_4966587906968196499_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=UdggqfJhFnkAX9heb-T&_nc_ht=scontent-iad3-2.xx&oh=00_AfCTuf6JsQIC0efnsyEWioofNXoOkkdk_QZfOApK9GtcXw&oe=660534FA" width="75%" style="border-radius: 50%;">
            </div>
            <div class="col-md-10">
              <h1 class="display-4">Virginia Rugby</h1>
              <p class="lead">We play rugby!</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab">Member List</a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab">Request Reimbursement</a>
              <a class="nav-link" id="v-pills-pay-tab" data-toggle="pill" href="#v-pills-pay" role="tab">Pay Dues</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h3>Manage Members</h3>
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Entry</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>03/23/24</td>
                        <td>Practice Snacks</td>
                        <td>18.98</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>03/16/24</td>
                        <td>Travel Expenses</td>
                        <td>34.91</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>03/01/24</td>
                        <td>Senior Gifts</td>
                        <td>12.22</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>02/29/24</td>
                        <td>New Equipment</td>
                        <td>54.67</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <th scope="row" style="text-align: right;">Total</th>
                        <td>120.78</td>
                      </tr>
                  </table>
                </div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <h3>Request Reimbursement</h3>
                <div>
                    <div>
                        <label for="exampleInputEmail1" class="form-label mt-4">Dollar Amount</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="ex. 12.50">
                    </div>
                    <div>
                        <label for="exampleTextarea" class="form-label mt-4">Description of Event</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-auto">
                          <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                </div>
          </div>
          <div class="tab-pane fade" id="v-pills-pay" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h3>Pay Dues</h3>
            <div>
                <div>
                    <label for="examplePayDues" class="form-label mt-4">Dollar Amount</label>
                    <input type="number" class="form-control" id="examplePayDues" placeholder="ex. 12.50">
                  </div>
                  <div class="modal-footer">
                    <br><br>
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
      </div> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>